html
	head
		title= 'Leaderboard'
		style
			include style.css
	body
		h1= 'Leaderboard'
		table
			td='ID' 
			td='NAME' 
			td='SCORE' 

			for person in personList
				tr
					td= person.id
					td
						a(href='/person/'+person.id) #{person.name}
					td= person.points
		

		form(method="POST",action="", enctype="application/x-www-form-urlencoded")
			p 
				| ID: 
				input(type="number", name="id", placeholder=0, value=0)
				|		Name:
				input(type="text", name="name", placeholder="None", value="")
				|		Points: 
				input(type="number", name="points", placeholder=0, value=0)
			input(type='submit', value='Submit')