html
	head
		title= 'Leaderboard'
		style
			include style.css
	body
		h1= 'Leaderboard'
		table
			td='ID' 
			td='NAME' 
			td='SCORE' 

			for person in personList
				tr
					td= person.id
					td
						a(href='/person/'+person.id) #{person.name}
					td= person.points
		

		form(method="post",action=form_action)
		p ID: 
			input(type="number", name="id", placeholder=0)
		p Name:
			input(type="text", name="name", placeholder="None")
		p Points: 
			input(type="number", name="points", placeholder=0)
		p
			button(type="submit") create
			button(type="submit") search